* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}
 
.App {
  text-align: center;
  background-color: rgb(94, 119, 119);
  width: 400px;
  height: 200px;
  border: 2px solid green;
  margin: 200px 200px 400px 500px;
  box-sizing: content-box;  
   border-radius: 15px;
  padding: 30px;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 .box{
   margin-top: 40px;
 }

 .time{
  width: 300px;
  height: 50px;
  border: 1px solid green;
  margin-left: 50px;
  background-color: wheat;
  margin-top: 3px;
  border: 3px solid rgb(18, 46, 31);
  border-radius: 10px;
 }